<mat-card style="background-color: var(--primary-color);">
  <div class="columns">
    <div class="column is-9">
      <mat-card-title translate>
        {{ data.title }}
      </mat-card-title>
      <mat-card-subtitle translate>
        {{ data.subtitle }}
      </mat-card-subtitle>
      <mat-card-content translate>
        {{ data.content }}
      </mat-card-content>
    </div>
    <div class="column is-offset-1 is-2">
      <mat-chip-list>
        <mat-chip
          color="accent"
          selected
          style="max-width: 70px; justify-content: center;"
          >{{ data.title | hashify }}</mat-chip
        >
        <mat-chip
          color="warn"
          selected
          style="max-width: 60px; justify-content: center;"
          >IDEA</mat-chip
        >
        <mat-chip
          color="secondary"
          selected
          style="max-width: 60px; justify-content: center;"
          >London</mat-chip
        >
      </mat-chip-list>
    </div>
  </div>
</mat-card>
