<div class="columns is-multiline">
  <div class="column is-4" *ngFor="let product of products">
    <mat-card>
      <mat-card-title translate>
        {{ product.title }}
        <button mat-raised-button color="accent" (click)="openBottomSheet(product)">
          <span translate>card.more</span>
        </button>
      </mat-card-title>
      <mat-card-subtitle translate>
        {{ product.subtitle }}
      </mat-card-subtitle>
      <mat-card-content translate>
        {{ product.content }}
      </mat-card-content>
    </mat-card>
  </div>
</div>
