<div class="columns">
  <div class="column is-4">
    <mat-card>
      <mat-card-title translate>
        card.title1
      </mat-card-title>
      <mat-card-subtitle translate>
        card.subtitle1
      </mat-card-subtitle>
      <mat-card-content translate>
        card.content1
      </mat-card-content>
    </mat-card>
  </div>
  <div class="column is-4">
    <mat-card>
      <mat-card-title translate>
        card.title2
      </mat-card-title>
      <mat-card-subtitle translate>
        card.subtitle2
      </mat-card-subtitle>
      <mat-card-content translate>
        card.content2
      </mat-card-content>
    </mat-card>
  </div>
  <div class="column is-4">
    <mat-card>
      <mat-card-title translate>
        card.title3
      </mat-card-title>
      <mat-card-subtitle translate>
        card.subtitle3
      </mat-card-subtitle>
      <mat-card-content translate>
        card.content3
      </mat-card-content>
    </mat-card>
  </div>
</div>
