<div class="columns">
  <div class="column is-4">
    <mat-card>
      <mat-card-title>
        Title 1
      </mat-card-title>
      <mat-card-subtitle>
        Subtitle 1
      </mat-card-subtitle>
      <mat-card-content>
        Content that is placed inside a card and is supposed to make some sense.
      </mat-card-content>
    </mat-card>
  </div>
  <div class="column is-4">
    <mat-card>
      <mat-card-title>
        Title 2
      </mat-card-title>
      <mat-card-subtitle>
        Subtitle 2
      </mat-card-subtitle>
      <mat-card-content>
        Content that is placed inside a card and is supposed to make some sense.
      </mat-card-content>
    </mat-card>
  </div>
  <div class="column is-4">
    <mat-card>
      <mat-card-title>
        Title 3
      </mat-card-title>
      <mat-card-subtitle>
        Subtitle 3
      </mat-card-subtitle>
      <mat-card-content>
        Content that is placed inside a card and is supposed to make some sense.
      </mat-card-content>
    </mat-card>
  </div>
</div>
